*{
    margin: 0;
    font-family: "Inter", serif;
}
#heading{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/img.png');
    background-position: 10% 20%;
    height: 13rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    background-blend-mode: luminosity;
}
h1{
    color: white;
    font-size: 2.8rem;
}
a {
   text-decoration: none;
   color: white;
   font-weight: 900;
}

img{
    width: 8rem;
    height: auto;
    margin-right: 1rem;
}

#movie {
    display: flex;
    width: 80vw;
    margin: auto;
    padding: 2rem 0;
    align-items: center;
    gap: rem;
}

#title, #extra {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#title h2{
    margin-right: 1.5rem;
}

#extra p{
    margin-right: 1rem;
}

#search {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}
 #svg {
    background-color: white;
    border-radius: 6px 0 0 6px;
    border: 1px solid #D1D5DB;
    border-right: none;
    height: 2.65rem;
    padding: 0 5px;
 }
 #input {
    border: 1px solid #D1D5DB;
    border-left: none;
    width: 50vw;
    height: 2.5rem;
 }
 #search-btn{
    border: 1px solid #D1D5DB;
    border-left: none;
    border-radius: 0 6px 6px 0;
    width: 15vw;
    height: 2.8rem;
 }

